<div class="container">
	<h1>Welcome#home</h1>
	<ul>
    <li>Create a Children model</li>
    <li>Chidlren model will have one row: child's name</li>
    <li>nested journal to the chidlren model writing/editing in markdown</li>
    <li>display entries for each child</li>
    <li>Send an email each week</li>
	</ul>
</div>
